header {
  /*background-color: black;*/
  /*background-color: #0202A8;*/
  font-family: "ABeeZee", sans-serif;  
  background-color: white; 
  color: black;
  padding: 10px;
  border-radius: 30px;
  position: relative; 
}

body{
  font-family: "ABeeZee", sans-serif;
}


.logo {
  margin: 0; 
}
.logo img {
  width: 200px;
  height: 100px;
}


.menu {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;

}

.menu li {
  margin-right: 20px; 
}

.menu li:last-child {
  margin-right: 0; 
}

.menu a {
  color: #0202A8; 
  text-decoration: none; 
}

.menu a:hover {
  color: goldenrod;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#video-background {
  width: 100vw; 
  height: 100vh; 
  min-width: 100%; 
  min-height: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover; 
}







